@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --primary: 167 60% 40%;
    --secondary: 197 50% 30%;
    --accent: 227 70% 50%;
    --destructive: 0 85% 40%;
    --primary-foreground: 167 10% 90%;
    --secondary-foreground: 167 10% 90%;
    --accent-foreground: 167 10% 90%;
    --destructive-foreground: 167 10% 90%;
    --background: 167 10% 95%;
    --foreground: 167 10% 10%;
    --card: 167 5% 95%;
    --card-foreground: 167 10% 10%;
    --popover: 167 10% 95%;
    --popover-foreground: 167 10% 10%;
    --muted: 167 20% 80%;
    --muted-foreground: 167 30% 30%;
    --border: 167 15% 70%;
    --input: 167 15% 70%;
    --ring: rgb(41 163 137 / 0.3);
    --radius: 0.5rem;
  }

  .dark {
    --primary: 167 60% 40%;
    --secondary: 197 50% 30%;
    --accent: 227 70% 50%;
    --destructive: 0 85% 40%;
    --primary-foreground: 167 10% 90%;
    --secondary-foreground: 167 10% 90%;
    --accent-foreground: 167 10% 90%;
    --destructive-foreground: 167 10% 90%;
    --background: 167 10% 95%;
    --foreground: 167 10% 10%;
    --card: 167 5% 95%;
    --card-foreground: 167 10% 10%;
    --popover: 167 10% 95%;
    --popover-foreground: 167 10% 10%;
    --muted: 167 20% 80%;
    --muted-foreground: 167 30% 30%;
    --border: 167 15% 70%;
    --input: 167 15% 70%;
    --ring: rgb(41 163 137 / 0.3);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
